*{
  font-family: 'ITC Garamond Std Book Narrow';
  padding: 0%;
  margin: 0%;
  font-size: 100%;
}

.pages{
  max-width: 100%;
  width: 100%;
}

.header{
  max-width: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.left_sidebar_container{
  z-index: 99;
  max-width: 12%;
  position: fixed;
}

.right_page_container{
  max-width: 100%;
  position: absolute;
  right: 0;
}