.left_sidebar{
    display: flex;
    padding: 1rem;
    font-weight: 600;
    gap: 1rem;
}

.left_sidebar .nav_link{
    position: relative;
}

.left_sidebar .nav_link .nave_line{
    left: 0%;
    position: absolute;
    width: 0%;
    height: 0.01rem;
    background-color: #404159;
    transition: width 0.5s ease-in;
}

.left_sidebar .nav_link:hover .nave_line{
    left: 0%;
    position: absolute;
    width: 100%;
    height: 0.01rem;
    background-color: #404159;
}